* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* create variables */
  --body-color: #f1f1f1;
  --main-bg-color: #343434;
  --div-1-bg-color: #00d7f4;
  --div-2-bg-color: #ffdf01;
  --div-3-bg-color: #fd7b03;
  --div-4-bg-color: #ff0014;
}

body {
  background: var(--body-color);
}

.main {
  height: 600px;
  position: absolute;
  top: 15%;
  background: var(--main-bg-color);
  min-width: 850px;
}

.navbar {
  width: 10%;
  height: 100%;
  float: left;
  text-align: left;
}

.navbar-nav {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 10%;
  top: 5%;
}

.nav-item a {
  text-decoration: none;
  color: var(--body-color);
  font-size: 0.8rem;
}

.container-main {
  width: 85%;
  height: 100%;
  display: inline-block;
}

.division-1 {
  background: var(--div-1-bg-color);
  height: 25%;
}

.division-2 {
  background-color: #ffdf01;
  background: var(--div-2-bg-color);
  height: 25%;
}

.division-3 {
  background: var(--div-3-bg-color);
  height: 25%;
}

.division-4 {
  background: var(--div-4-bg-color);
  height: 25%;
}

.division-tittle {
  font-size: 1.2rem;
  padding: 10px 0 5px 100px;
  color: var(--body-color);
}

.division-text {
  font-size: 0.8rem;
  color: var(--body-color);
  padding: 0 100px 0 100px;
}
