@import "./node_modules/bootstrap/scss/bootstrap.scss";

* {
    --body-color: #f1f1f1;
    --main-bg-color: #343434;
    --div-1-bg-color: #00d7f4;
    --div-2-bg-color: #ffdf01;
    --div-3-bg-color: #fd7b03;
    --div-4-bg-color: #ff0014;
  }

  body {
    background-color: var(--body-color);
  }

  .main{
    height: 100vh;
  }

  .main-container {
    background-color: var(--main-bg-color);
  }	

  .division-1 {
    background-color: var(--div-1-bg-color);
  }	

  .division-2 {
    background-color: var(--div-2-bg-color);
  }

  .division-3 {
    background-color: var(--div-3-bg-color);
  }

  .division-4 {
    background-color: var(--div-4-bg-color);
  }