* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f1f1f1;
}

.main {
  
}

.navbar {
  
}

.navbar-nav {
  
}

.nav-item a {

}

.container-main {
  
}

.division-1{

}

.division-2{

}

.division-3{


}

.division-4{

}

.division-tittle{

}

.division-text{

}